body h1 {
  color: #ebbb37;
  text-align: center;
  font-style: oblique;
}
img {
  width: 100%;
}
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body h1 {
  color:#ebbb37;
  text-align: center;
  font-style: oblique;
}

img {
  width: 100%;
}
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search-container {
  width: 15%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
#search {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
}
.search-icon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
header nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  margin: 0 10px;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
#nav-container {
  text-align: center;
}
.icons-container {
  display: flex;
  align-items: center;
}
.icon {
  text-align: right;
  margin-top: 10px;
}
.icon img {
  width: 30px;
  height: auto;
  margin-left: 10px;
}
.login {
  margin-left: 10px;
}
.login a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.bag-container {
  position: relative;
  text-align: center;
}
.bag-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 40px;
  font-family: sans-serif;
}
.shop-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  border: 2px solid white;
  padding: 12px;
}